<md-nav-bar md-selected-nav-item="view" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-click="goto('all')" name="all">All</md-nav-item>
  <md-nav-item md-nav-click="goto('hosts')" name="hosts">By Host</md-nav-item>
  <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
  <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
  <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
  -->
</md-nav-bar>
<div class="ext-content">
 	<md-list layout-padding ng-if="view == 'all'">
		<md-list-item class="md-{{2 + service.interfaces.length}}-line" ng-repeat="service in services" ng-include="'views/services/list-item.html'">
	  	</md-list-item>
	</md-list>

	<section ng-repeat="(key, value) in services | groupBy:'host.address'" ng-if="view == 'hosts'" >
	  	<md-subheader class="md-warn">{{ key }}</md-subheader>
	  	<md-list layout-padding>
    		<md-list-item class="md-{{2 + service.interfaces.length}}-line" ng-repeat="service in value" ng-include="'views/services/list-item.html'">
	  		</md-list-item>
	  	</md-list>
	</section>
</div>