<md-icon md-font-icon="fa-server" class="md-avatar-icon"></md-icon>
<div class="md-list-item-text">
  <h3>{{service.name}}</h3>
  <h4>{{service.version}}</h4>
  <p ng-repeat="interface in service.interfaces">{{ interface.easyUri }}</p>
</div>
<div class="lock-size" layout="row" layout-align="center center" style="margin: auto">
	<md-fab-speed-dial md-direction="left" class="md-scale">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-mini md-warn">
				<md-icon md-font-icon="fa-power-off"></md-icon>
			</md-button>
		</md-fab-trigger>

		<md-fab-actions>
			<md-button aria-label="cancel" class="md-fab md-primary md-raised md-mini">
				<md-icon md-font-icon="fa-close" aria-label="cancel"></md-icon>
			</md-button>
			<md-button aria-label="confirm" class="md-fab md-raised md-mini" ng-click="killService(service, $index)">
				<md-icon md-font-icon="fa-check" aria-label="confirm"></md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>
<md-divider ng-if="!$last"></md-divider>