<md-nav-bar md-selected-nav-item="view" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-click="goto('services')" name="services">By Service</md-nav-item>
  <md-nav-item md-nav-click="goto('hosts')" name="hosts">By Host</md-nav-item>
</md-nav-bar>
<div class="ext-content">
  <section ng-repeat="service in autoStartServiceHosts" ng-if="view === 'services'">
    <md-subheader class="md-warn">{{ service._id }}</md-subheader>
    <md-list layout-padding>
      <md-list-item class="md-2-line" ng-repeat="host in service.hosts">
      	<md-icon md-font-icon="fa-cloud" class="md-avatar-icon"></md-icon>
        <div class="md-list-item-text" layout="row">
      		  <h3 flex="70">{{ host.host.address }}:{{ host.host.port }}</h3>
        		<h4 flex>{{host.max}}</h4>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
  <section ng-repeat="host in servicesByHost" ng-if="view === 'hosts'">
    <md-subheader class="md-warn">{{ host.host }}</md-subheader>
    <md-list layout-padding>
      <md-list-item class="md-2-line" ng-repeat="service in host.services">
        <md-icon md-font-icon="fa-cloud" class="md-avatar-icon"></md-icon>
        <div class="md-list-item-text" layout="row">
            <h3 flex="70">{{ service.name }}</h3>
            <h4 flex>{{service.max}}</h4>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
</div>