<!DOCTYPE="html">

<html ng-app="discoApp" ng-cloak lang="en">
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/media/css/index.css"/>
	<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Cog_circle.svg/196px-Cog_circle.svg.png">
</head>

<body layout="column" ui-view>
	
	<!-- EJS Variables -->

	<script type="text/javascript" class="clean-up"></script>

	<!-- Dependencies -->

	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

	<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="/bower_components/angular-filter/dist/angular-filter.js"></script>
	<script type="text/javascript" src="/bower_components/angular-messages/angular-messages.js"></script>
	<script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>

	<!-- App Code -->	

	<script type="text/javascript" src="/code/app.js"></script>
	
	<script type="text/javascript" src="/code/constants/db-types.js"></script>

	<script type="text/javascript" src="/code/controllers/app-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/auto-start-service-hosts-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/auto-start-services-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/dbs/db-add-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/dbs/db-edit-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/dbs/dbs-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/services-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/users-ctrl.js"></script>
	<script type="text/javascript" src="/code/controllers/user-add-edit-ctrl.js"></script>

	<script type="text/javascript" src="/code/interceptors/interceptors.js"></script>

	<script type="text/javascript" src="/code/instances/authorize-instance.js"></script>
	<script type="text/javascript" src="/code/instances/auto-start-service-instance.js"></script>
	<script type="text/javascript" src="/code/instances/db-instance.js"></script>
	<script type="text/javascript" src="/code/instances/interface-instance.js"></script>
	<script type="text/javascript" src="/code/instances/service-instance.js"></script>
	<script type="text/javascript" src="/code/instances/user-instance.js"></script>

	<script type="text/javascript" src="/code/factories/api-resource.js"></script>
	<script type="text/javascript" src="/code/factories/auth-factories.js"></script>
	<script type="text/javascript" src="/code/factories/auto-start-service-factories.js"></script>
	<script type="text/javascript" src="/code/factories/auto-start-service-host-factories.js"></script>
	<script type="text/javascript" src="/code/factories/db-factories.js"></script>
	<script type="text/javascript" src="/code/factories/service-factories.js"></script>
	<script type="text/javascript" src="/code/factories/user-factories.js"></script>

	<script type="text/javascript" src="/code/filters/date-filters.js"></script>

	<script type="text/javascript" src="/code/services/auth-service.js"></script>
</body>

</html>