<!DOCTYPE="html">

<html ng-app="loginApp" lang="en">
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Disco Login</title>
  <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Cog_circle.svg/196px-Cog_circle.svg.png">

  <link rel="stylesheet" type="text/css" href="/media/css/login.css"/>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>

  <style type="text/css">
    body {
      background-color: rgb(48, 48, 48);
      display: flex;
      font-weight: bold;
    }

    p.success {
      color: green
    }

    p.failed {
      color: red
    }

    div#container {
      background-color: rgba(255, 255, 255, 0.1);
      width: 400px;
      margin: auto;
      padding: 20px;
      border-radius: 5px;
    }

    form {
      margin: 0;
    }

    form > div {
      padding: 5px 0;
    }

    form > div > label {
      display: block;
      padding: 5px 0;
      color: rgb(255,87,34);
    }

    form > div > input {
      width: 100%;
      height: 30px;
      font-height: 30px;
      border: 0 solid;
      padding: 0 5px;
    }

    form > div > input[type="submit"] {
      color: rgb(255,171,64);
      background-color: rgb(68,102,68);
      font-size: 15px;
      cursor: pointer;
      border-radius:  5px;
      border: 0 solid;
      height: 50px;
      font-weight: bold;
    }

    form > div > input[type="submit"][disabled] {
      cursor: not-allowed;
    }
  </style>
</head>

<body ng-controller="LoginCtrl">
  <div id="container">
    <form name="loginForm" ng-submit="submit()">
      <div>
        <label>Username</label>
        <input type="text" placeholder="Username" ng-model="username"   required="true" />  
      </div>

      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" ng-model="password"   required="true" />  
      </div>

      <div>
        <input type="submit" value="Log in" ng-disabled="loginForm.$invalid" />
      </div>

      <div ng-if="result">
        <p ng-if="result" ng-bind="result.message" ng-class="{ 'success': result.success, 'failed': !result.success }"></p>
        <p ng-if="result.err && !result.err.data.message" ng-bind="result.err"></p>
      </div>
    </form>
  </div>

  <!-- Angular App -->

  <script type="text/javascript">
    var loginApp = window.angular.module('loginApp', [])

    loginApp.controller('LoginCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window){
      $scope.username = ''
      $scope.password = ''

      $scope.submit = () => {
        if (!$scope.loginForm.$valid) {
          return
        }

        const data = {
          username: $scope.username,
          password: $scope.password
        }

        $http.post('/api/login', data)
          .then(res => {
            $scope.result = {
              success: true,
              message: 'Log in successful'
            }
            $window.location.replace('/')
          }, err => {
            if (err.data && err.data.message){
              return $scope.result = {
                success: false,
                message: err.data.message,
                err: err
              }
            }

            if (err.status === 502) {
              return $scope.result = {
                success: false,
                message: 'Service offline',
                err: err
              }
            }

            $scope.result = {
              success: false,
              message: 'Could not login right now',
              err: err
            }
          })
      }
    }])
  </script>
</body>

</html>