@import "../../../bower_components/angular-material/modules/scss/angular-material.scss";
@import "../ext/font-awesome/scss/font-awesome.scss";
@import "./variables.scss";

md-icon {
    height: auto !important;
    font-size: 24px !important;

    &.md-avatar-icon {
    	text-align: center
    }
}

md-toast.md-success-theme {
    .md-toast-content {
        background-color: green;
    }
}

md-toast.md-warning-theme {
    .md-toast-content {
        background-color: #646644;
    }
}