<md-dialog aria-label="add-db" flex-gt-md>
  <form name="dbAddForm" ng-cloak ng-submit="submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Database</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-font-icon="fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>ID</label>
            <input ng-model="db._id" required >
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
              <label>Type</label>
              <md-select ng-model="db.type">
                  <md-option ng-repeat="type in types" value="{{type.key}}">{{type.name}}</md-option>
              </md-select>
            </md-input-container>
        </div>

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
            <label>Uri</label>
            <input type="text" ng-model="db.uri" >
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()">
        Cancel
      </md-button>
      <md-button type="submit">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

