<md-list layout-padding>
 	<md-list-item class="md-2-line" ng-repeat="db in dbs">
 		<md-icon md-font-icon="fa-database" class="md-avatar-icon"></md-icon>
    	<div class="md-list-item-text">
    		<h3>{{db._id}}</h3>
    		<p>{{db.uri}}</p>
    	</div>
    	<md-button class="md-fab md-primary md-mini" style="margin: auto" ng-click="showEdit($event, db)">
			<md-icon md-font-icon="fa-pencil"></md-icon>
		</md-button>
  	<md-divider ng-if="!$last"></md-divider>
	</md-list-item>
</md-list>

<pre style="display: none;">{{ dbs | json }}</pre>