<md-list layout-padding>
  <md-list-item class="md-2-line" ng-repeat="autoStartService in autoStartServices">
  	<md-icon md-font-icon="fa-clock-o" class="md-avatar-icon"></md-icon>
    <div class="md-list-item-text" layout="row">
    	<div flex="40">
    		<h3>{{autoStartService.name}}</h3>
    		<h4>{{autoStartService.version}}</h4>
    	</div>
      <div flex>
        <div>
          <input flex type="number" ng-model="autoStartService.min" ng-change="onChange(autoStartService, $index)"/>
          <input flex type="number" ng-model="autoStartService.max" ng-change="onChange(autoStartService, $index)"/>
        </div>
      </div>
      <md-switch aria-label="enabled" ng-model="autoStartService.enabled" class="md-primary" ng-change="onChange(autoStartService, $index)"></md-switch>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<pre style="display: none;">{{ autoStartServices | json }}</pre>