<div flex layout="row">
	<md-sidenav flex="noshrink" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1" md-component-id="left">
		<header class="nav-header" layout-padding>
			<h2 class="md-hue-2">
				<md-icon md-font-icon="fa-globe"></md-icon>
				Discovery Service
			</h2>
		</header>
  		<md-content md-scroll-y>
			<md-list flex>
				<md-divider></md-divider>
				<md-list-item class="md-1-line" ui-sref="app.dbs()">
					<div class="md-list-item-text">
						<h3>
							<md-icon md-font-icon="fa-database"></md-icon>
							Databases
						</h3>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-1-line" ui-sref="app.services()">
					<div class="md-list-item-text">
						<h3>
							<md-icon md-font-icon="fa-server"></md-icon>
							Services
						</h3>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-1-line" ui-sref="app.autostartservices()">
					<div class="md-list-item-text">
						<h3>
							<md-icon md-font-icon="fa-clock-o"></md-icon>
							Auto Start Services
						</h3>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-1-line" ui-sref="app.autostartservicehosts()">
          <div class="md-list-item-text">
            <h3>
              <md-icon md-font-icon="fa-cloud"></md-icon>
              Service Hosts
            </h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-1-line" ui-sref="app.users()">
          <div class="md-list-item-text">
            <h3>
              <md-icon md-font-icon="fa-user"></md-icon>
              Users
            </h3>
          </div>
        </md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</md-sidenav>
	<div layout="column" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft();" hide-gt-sm>
					<md-icon md-font-icon="fa-bars"></md-icon>
				</md-button>
				<h2>
	         		<span hide-gt-sm>
	         			Discovery Service -
	         		</span>
	         		<span>{{contentTitle}}</span>
		        </h2>
				<span flex></span>
				<md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
            <md-icon md-menu-origin md-font-icon="fa-ellipsis-v"></md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item ng-repeat="item in topRightMenu">
              <md-button ng-click="item.fn($event)">
                  <div layout="row" flex>
                    <p flex>{{item.title}}</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
			</div>
		</md-toolbar>
		<md-content ui-view="main" md-scroll-y></md-content>
	</div>
</div>


<!--
<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="2" md-is-locked-open="$mdMedia('gt-sm')">
	<md-content layout-margin>
		<p>This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.</p>
		<md-button ng-click="toggleLeft()" class="md-accent">Close this Sidenav</md-button>
	</md-content>
</md-sidenav>

<div layout="column" flex>
	<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft();">
          <md-icon md-font-icon="fa-bars"></md-icon>
        </md-button>
        <h2>
          <span>Discovery Service</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-font-icon="icon-home" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-font-icon="fa-ellipsis-v"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<md-content layout="column" flex>
		<div ui-view="main" layout-padding flex="noshrink"></div>
	</md-content>
</div>
-->