<md-dialog ng-cloak aria-label="add-edit-user" flex-gt-md>
  <form name="userAddEditForm" ng-submit="ui.buttons.submit.fn()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ui.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ui.buttons.cancel.fn()">
          <md-icon md-font-icon="fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input ng-model="user.username" ng-required="ui.input.username.required">
          </md-input-container>
        </div>
      
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input ng-model="user.password" type="password" ng-required="ui.input.password.required" ng-minlength="ui.input.password.minlength">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="ui.buttons.cancel.fn()">
        {{ui.buttons.cancel.title}}
      </md-button>
      <md-button type="submit">
        {{ui.buttons.submit.title}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

