<md-list layout-padding>
  <md-list-item class="md-2-line" ng-repeat="user in users">
    <md-icon md-font-icon="fa-user" class="md-avatar-icon"></md-icon>
      <div class="md-list-item-text">
        <h3>{{user.username}}</h3>
        <p>{{user._id}}</p>
      </div>
      <md-button class="md-fab md-primary md-mini" style="margin: auto" ng-click="showEdit($event, db)">
      <md-icon md-font-icon="fa-pencil"></md-icon>
    </md-button>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<pre style="display: none;">{{ users | json }}</pre>